In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("Hello World")

Hello World

In [3]:
if True:
  print("True")
else:
  print("False")

True

In [4]:
if True:
  print("Answer")
  print("True")
else:
  print("Answer")
  print("False")

Answer
True

In [5]:
item_one=1
item_two=2
item_three=3
total = item_one + \
        item_two + \
        item_three
print(total)

6

In [6]:
days = ['Monday','Tuesday','Wednesday',
        'Thursday','Friday']
print(days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [7]:
word = 'word'
print(word)

sentence = "This is a sentence"
print(sentence)

paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print(paragraph)

word
This is a sentence
This is a paragraph. It is
made up of multiple lines and sentences.

In [8]:
#First comment
print("Hello World") #Second comment

Hello World

In [9]:
print("Adding multi-line comments using #")
#first comment
#second comment

Adding multi-line comments using #

In [12]:
print("Adding multi-line comments using '''")
'''
This is a 
multi-line comment. 
'''

Adding multi-line comments using '''

'\nThis is a \nmulti-line comment. \n'

In [15]:
import sys; x="foo"; sys.stdout.write(x+'\n')

foo

4

In [19]:
x=10
if(x<10):
  print("x is lesser than x")
elif(x>10):
  print("x is greater than 10")
else:
  print("x is equal to 10")

x is equal to 10

In [22]:
id("January") # returns address where the object is stored

2239302364208

In [23]:
id(10)

2239254102544

In [24]:
month="January"
id(month)

2239302364208

In [25]:
age=20
id(age)

2239254102864

In [26]:
counter=1
miles=1.5
name="Aarzoo Khunger"
print(counter)
print(miles)
print(name)

1
1.5
Aarzoo Khunger

In [27]:
# Deleting python variables
var_1=10
print(var_1)

del var_1
print(var_1)

10

NameError: name 'var_1' is not defined

In [28]:
x = "Aarzoo"
print(type(x))

y=10
print(type(y))

z=10.10
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [29]:
x = str(10)
print("Type of x ",type(x)," x=",x)
y = int(10)
print("Type of y ",type(y)," y=",y)
z = float(10)
print("Type of z ",type(z)," z=",z)

Type of x  <class 'str'>  x= 10
Type of y  <class 'int'>  y= 10
Type of z  <class 'float'>  z= 10.0

In [30]:
Greeting = "Hello"
greeting = "Heyyy"

print("Greeting=",Greeting)
print("greeting=",greeting)

Greeting= Hello
greeting= Heyyy

In [31]:
# Assigning the variables with same value
a=10
b=10
c=10
print(a,b,c)

a=b=c=20
print(a,b,c)

10 10 10
20 20 20

In [32]:
# Assigning the variables with different values
a=10
b=20
c=30
print(a,b,c)

a,b,c = 40,50,60
print(a,b,c)

10 20 30
40 50 60

In [34]:
# Assigning variables with different kinds of objects
a,b,c = "Aarzoo",1,5.05

print(a)
print(b)
print(c)

Aarzoo
1
5.05

In [35]:
# Variable naming conventions
counter=100
_count=100
name1 = "Aarzoo"
greeting_1 = "Hello"

print(counter,_count,name1,greeting_1)

100 100 Aarzoo Hello

In [36]:
# Invalid variable naming conventions
1counter=100
$_count=100
greeting-1="Hello"

print(1counter,$_count,greeting-1)

SyntaxError: invalid decimal literal (819632508.py, line 2)

In [37]:
width=10; height=20
area = width*height
print("Area=",area)

perimeter=2*(width+height)
print("Perimeter=",perimeter)

Area= 200
Perimeter= 60

In [41]:
def sum(x,y):
  sum = x+y
  return sum

print(sum(10,15))

25

In [42]:
x=5;y=10
def sum():
  return x+y
print(sum())

15

In [45]:
a=b=10
print(a is b) # prints True if both the variables have same id value

print(id(a))
print(id(b))

True
2239254102544
2239254102544

In [ ]:
# Data types

In [47]:
var1 = 1 #int datatype
var2 = True #bool datatype
var3 = 10.01 #float datatype
var4 = 10 + 3j

print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))
print(var4,type(var4))

1 <class 'int'>
True <class 'bool'>
10.01 <class 'float'>
(10+3j) <class 'complex'>

In [48]:
# Strings
str1 = "string-1"
print(str1,type(str1))

str2 = 'string-1'
print(str2,type(str2))

str3 = '''string-3'''
print(str3,type(str3))

string-1 <class 'str'>
string-1 <class 'str'>
string-3 <class 'str'>

In [49]:
str = 'Hello World'

print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str*2)
print(str + "TEST")

Hello World
H
llo
llo World
Hello WorldHello World
Hello WorldTEST

In [50]:
list1 = [2025,"Python",10,10.30,1+3j]
print(list1)
print(type(list1))

[2025, 'Python', 10, 10.3, (1+3j)]
<class 'list'>

In [52]:
# list of list
list_of_list = [['One','Two','Three'],[1,2,3],['1.0','2.0','3.0']]

print(list_of_list)

[['One', 'Two', 'Three'], [1, 2, 3], ['1.0', '2.0', '3.0']]

In [53]:
list = ['abcd',100,10.01,"Aarzoo"]
tinylist = [1,'hello']

print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(tinylist*2)
print(list + tinylist)

['abcd', 100, 10.01, 'Aarzoo']
abcd
[100, 10.01]
[10.01, 'Aarzoo']
[1, 'hello', 1, 'hello']
['abcd', 100, 10.01, 'Aarzoo', 1, 'hello']

In [59]:
tuple1 = (2025,"Python",1+2j,10.01)
print(tuple1)
print(type(tuple1))
print("\n")

# Creating tuple without using parentheses
default_tuple = 2023,1+2j,10.01
print(default_tuple)
print(type(default_tuple))

(2025, 'Python', (1+2j), 10.01)
<class 'tuple'>


(2023, (1+2j), 10.01)
<class 'tuple'>

In [60]:
# tuple containing a list and tuple itself
tuple1 = (['One','Two','Three'],1,0.1,(1.0,"hello"))
print(tuple1)

(['One', 'Two', 'Three'], 1, 0.1, (1.0, 'hello'))

In [61]:
tuple1 = ('abcd',100,10.01,"Aarzoo")
tiny_tuple = (100,"Hello")

print(tuple1)
print(tuple1[0])
print(tuple1[1:3])
print(tuple1[2:])
print(tiny_tuple*2)
print(tuple1+tiny_tuple)

('abcd', 100, 10.01, 'Aarzoo')
abcd
(100, 10.01)
(10.01, 'Aarzoo')
(100, 'Hello', 100, 'Hello')
('abcd', 100, 10.01, 'Aarzoo', 100, 'Hello')

In [63]:
# Range data-type
for i in range(5):
  print(i)
print("\n")

for i in range(2,5):
  print(i)
print("\n")

for i in range(1,5,2): # start,stop,step
  print(i)
print("\n")

0
1
2
3
4


2
3
4


1
3

In [64]:
# Binary data-types
b1 = bytes([65,66,67,68])
print(b1)

# b prefix specifies that it is a bytes object

b'ABCD'

In [65]:
# Dictionary data-type
dict1 = {1:"one",
         2:"two",
         3:"three"}

print(dict1)
print(type(dict1))

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>

In [67]:
dict={}
dict['one'] = "This is one"
dict[2] = "This is two"

tiny_dict = {'Name':'Aarzoo',
             'Age':18,
             'Deptt':'CSE'}

print(dict['one'])
print(dict[2])
print(tiny_dict)
print(tiny_dict.keys())
print(tiny_dict.values())

This is one
This is two
{'Name': 'Aarzoo', 'Age': 18, 'Deptt': 'CSE'}
dict_keys(['Name', 'Age', 'Deptt'])
dict_values(['Aarzoo', 18, 'CSE'])

In [69]:
# Set data-type
set1 = {2025,"Aarzoo",1+2j}
print(set1)
print(type(set1))

# Set can only have immutable objects and not mutable objects (list/dictionary)
set2= {['One','Two','Three'],1,10.01}
print(set2)

{2025, 'Aarzoo', (1+2j)}
<class 'set'>

TypeError: unhashable type: 'list'

In [71]:
# Bool data-types
print(type(True),type(False))

<class 'bool'> <class 'bool'>

In [74]:
a=2; b=3
print(a==b)

a=None
print(bool(a))

a={}
print(bool(a))

a=10
print(bool(a))

False
False
False
True

In [1]:
# None data-type
x=None
print(x,type(x))

None <class 'NoneType'>

In [3]:
# Arithmetic operators
a=10
b=20
c=5

c=a+b
print("a : {} b : {} a+b : {}".format(a,b,c))

c=a-b
print("a : {} b : {} a-b : {}".format(a,b,c))

c=a*b
print("a : {} b : {} a*b : {}".format(a,b,c))

c=a/b
print("a : {} b : {} a/b : {}".format(a,b,c))

c=a%b
print("a : {} b : {} a%b : {}".format(a,b,c))

a=2; b=3
c=a**b
print("a : {} b : {} a**b : {}".format(a,b,c))

a=10; b=5
c=a//b
print("a:{} b:{} a//b:{}".format(a,b,c))

a : 10 b : 20 a+b : 30
a : 10 b : 20 a-b : -10
a : 10 b : 20 a*b : 200
a : 10 b : 20 a/b : 0.5
a : 10 b : 20 a%b : 10
a : 2 b : 3 a**b : 8
a:10 b:5 a//b:2

In [4]:
# Comparison operators
a=10
b=20
if(a==b):
  print("a is equal to b")
else:
  print("a is not equal to b")

if(a!=b):
  print("a is not equal to b")
else:
  print("a is equal to b")

if(a<b):
  print("a is less than b")
else:
  print("a is not less than b")

if(a>b):
  print("a is greater than b")
else:
  print("a is not greater than b")

a,b=b,a # Swapping the values of a and b
if(a<=b):
  print("a is either less than or equal to b")
else:
  print("a is neither less than nor equal to b")

if(b>=a):
  print("b is either greater than or equal to a")
else:
  print("b is neither greater than nor eqaul to a")

a is not equal to b
a is not equal to b
a is less than b
a is not greater than b
a is neither less than nor equal to b
b is neither greater than nor eqaul to a

In [5]:
# Assignment operators
a=10
b=20
c=0

print ("a: {} b: {} c : {}".format(a,b,c))
c = a + b
print ("a: {}  c = a + b: {}".format(a,c))

c += a
print ("a: {} c += a: {}".format(a,c))

c *= a
print ("a: {} c *= a: {}".format(a,c))

c /= a 
print ("a: {} c /= a : {}".format(a,c))

c  = 2
print ("a: {} b: {} c : {}".format(a,b,c))
c %= a
print ("a: {} c %= a: {}".format(a,c))

c **= a
print ("a: {} c **= a: {}".format(a,c))

c //= a
print ("a: {} c //= a: {}".format(a,c))

a: 10 b: 20 c : 0
a: 10  c = a + b: 30
a: 10 c += a: 40
a: 10 c *= a: 400
a: 10 c /= a : 40.0
a: 10 b: 20 c : 2
a: 10 c %= a: 2
a: 10 c **= a: 1024
a: 10 c //= a: 102

In [6]:
# Bitwise operators
a=10
b=20

print('a=',a,':',bin(a),'b=',b,':',bin(b))
c=0

c=a&b
print('a & b = ',c,':',bin(c))

c=a^b
print('a ^ b = ',c,':',bin(c))

c=a|b
print('a|b=',c,':',bin(c))

c=~a
print('Complement of a is : ',c,':',bin(c))

c = a << 2;       
print ("left shift of a is:", c,':',bin(c))

c = a >> 2;       
print ("right shift of a is:", c,':',bin(c))

a= 10 : 0b1010 b= 20 : 0b10100
a & b =  0 : 0b0
a ^ b =  30 : 0b11110
a|b= 30 : 0b11110
Complement of a is :  -11 : -0b1011
left shift of a is: 40 : 0b101000
right shift of a is: 2 : 0b10

In [7]:
# Logical operators
a=5

print(a>3 and a<10)
print(a>3 or a<4)
print(not(a>3 and a<10))

True
True
False

In [8]:
# Identity operators
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]
c = a

print(a is c)
print(a is b)

print(a is not c)
print(a is not b)

True
False
False
True

In [10]:
# Membership operators
a = 10
b = 5
list = [1, 2, 3, 4, 5 ]

print ("a:", a, "b:", b, "list:", list)

if ( a in list ):
  print ("a is present in the given list")
else:
  print ("a is not present in the given list")

if ( b not in list ):
  print ("b is not present in the given list")
else:
  print ("b is present in the given list")

a: 10 b: 5 list: [1, 2, 3, 4, 5]
a is not present in the given list
b is present in the given list

In [11]:
a = 10
b = 20
c = a + b

print ("a:", a, "type:", type(a))
print ("c:", c, "type:", type(c))

a: 10 type: <class 'int'>
c: 30 type: <class 'int'>

In [12]:
a=0b101 # 0b tells it's a binary number representation
print ("a:",a, "type:",type(a))

b=int("0b101011", 2)
print ("b:",b, "type:",type(b))

a=20
b=bin(a)
print(a,type(a),"\t",b,type(b))

a: 5 type: <class 'int'>
b: 43 type: <class 'int'>
20 <class 'int'> 	 0b10100 <class 'str'>

In [13]:
# Octal numbers - 0O
a=0O107
print (a, type(a))

a=int('20',8)
print (a, type(a))

a=oct(71)
print (a, type(a))

71 <class 'int'>
16 <class 'int'>
0o107 <class 'str'>

In [14]:
# Hexadecimal numbers
a=0XA2
print (a, type(a))

a=int('0X1e', 16)
print (a, type(a))

162 <class 'int'>
30 <class 'int'>

In [20]:
# Complex numbers
a=1+2j
print(a,type(a))

b=complex(3,4)
print(b,type(b))

c=complex(1+2j, 2-3j)
print (c, type(c))

d=complex(5.3)
print (d, type(d))

(1+2j) <class 'complex'>
(3+4j) <class 'complex'>
(4+4j) <class 'complex'>
(5.3+0j) <class 'complex'>

In [22]:
# Constants
import math
print("pi : ",math.pi)
print("e : ",math.e)

pi :  3.141592653589793
e :  2.718281828459045

In [35]:
# Math functions
a=10.5;b=5;c=-5
print(a,"Floor : ",math.floor(a))
print(a,"Ceil : ",math.ceil(a))
print("Factorial of ",b," is:",math.factorial(b))

# Other functions
print("Absolute of ",c," is:",abs(c))
print("Max :",max(4,5))
print("Min :",min(4,5))
print("Power: ",pow(2,3))
print("Round:",round(10.78))
print("Sum:",sum({1,2,3,4},5)) # accepts list or tuple, give start value of sum default->0

10.5 Floor :  10
10.5 Ceil :  11
Factorial of  5  is: 120
Absolute of  -5  is: 5
Max : 5
Min : 4
Power:  8
Round: 11
Sum: 15