In [1]:
# if 
var=100
if(var==100): print("Value of the expression is 100")

if(var==100):
  print("Value of variable is 100")
else:
  print("Value of var is not equal to 100")

Value of the expression is 100
Value of variable is 100

In [2]:
var = 100
if(var==100):
  print("The number is equal to 100")
  if var%2 == 0:
    print("The number is even")
  else :
    print("The number is odd")
elif var==0:
  print("The given number is zero")
else:
  print("The given number is negative")

The number is equal to 100
The number is even

In [5]:
discount = 0
amount = 1200
if amount > 1000:
   discount = amount * 10 / 100

print("amount = ", amount - discount)

amount = 800
discount=0
if amount > 1000:
   discount = amount * 10 / 100

print("amount = ", amount - discount)

amount =  1080.0
amount =  800

In [6]:
age = 25
print("Age:",age)
if age>=18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Age: 25
Eligible to vote

In [7]:
amount = 2500
print('Amount = ',amount)
if amount > 10000:
   discount = amount * 20 / 100
else:
   if amount > 5000:
      discount = amount * 10 / 100
   else:
      if amount > 1000:
         discount = amount * 5 / 100
      else:
         discount = 0

print('Payable amount = ',amount - discount)

Amount =  2500
Payable amount =  2375.0

In [8]:
num = 36
print ("num = ", num)
if num % 2 == 0:
   if num % 3 == 0:
      print ("Divisible by 3 and 2")

num =  36
Divisible by 3 and 2

In [9]:
num=8
print ("num = ",num)
if num%2==0:
   if num%3==0:
      print ("Divisible by 3 and 2")
   else:
      print ("divisible by 2 not divisible by 3")
else:
   if num%3==0:
      print ("divisible by 3 not divisible by 2")
   else:
      print ("not Divisible by 2 not divisible by 3")

num =  8
divisible by 2 not divisible by 3

In [10]:
zen = '''
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
'''
for char in zen:
   if char not in 'aeiou':
      print (char, end='')

Btfl s bttr thn gly.
Explct s bttr thn mplct.
Smpl s bttr thn cmplx.
Cmplx s bttr thn cmplctd.

In [11]:
numbers = (34,54,67,21,78,97,45,44,80,19)
total = 0
for num in numbers:
   total += num
print ("Total =", total)

Total = 539

In [12]:
numbers = [34,54,67,21,78,97,45,44,80,19]
total = 0
for num in numbers:
   if num%2 == 0:
      print (num)

34
54
78
44
80

In [13]:
for num in range(5):
   print (num, end=' ')
print()
for num in range(10, 20):
   print (num, end=' ')
print()
for num in range(1, 10, 2):
   print (num, end=' ')

0 1 2 3 4
10 11 12 13 14 15 16 17 18 19
1 3 5 7 9

In [14]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers:
   print (x)

10
20
30
40

In [15]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers:
   print (x,":",numbers[x])

10 : Ten
20 : Twenty
30 : Thirty
40 : Forty

In [16]:
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
for x in numbers.items():
   print (x)

(10, 'Ten')
(20, 'Twenty')
(30, 'Thirty')
(40, 'Forty')

In [18]:
for num in range(10, 20):   
  for i in range(2,num): 
      if num%i == 0:      
        j=num/i          
        print ("%d equals %d * %d" % (num,i,j))
        break 
      else:                  
        print (num, "is a prime number")
        break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [19]:
for count in range(6):
   print ("Iteration no. {}".format(count))
else:
   print ("for loop over. Now in else block")
print ("End of for loop")

Iteration no. 0
Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
for loop over. Now in else block
End of for loop

In [20]:
for i in ['T','P']:
  print(i)
else:
  print("ForLoop-else statement successfully executed")

T
P
ForLoop-else statement successfully executed

In [22]:
# for-else loops
def positive_or_negative():
   for i in [5,6,7]:
      if i>=0:
        print ("Positive number")
      else:
        print ("Negative number")
        break
   else:
      print ("Loop-else Executed")
positive_or_negative()

Positive number
Positive number
Positive number
Loop-else Executed

In [23]:
count=0
while count<5:
   count+=1
   print ("Iteration no. {}".format(count))
print ("End of while loop")

Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
End of while loop

In [24]:
var = '0'
while var.isnumeric() == True:
   var = "test"
   if var.isnumeric() == True:
      print ("Your input", var)
print ("End of while loop")

End of while loop

In [25]:
var = 1
while var == 1 : # This constructs an infinite loop
   num = int(input("Enter a number :"))
   print ("You entered: ", num)
print ("Good bye!")

You entered:  20
You entered:  40

ValueError: invalid literal for int() with base 10: ''

In [26]:
# while-else loop
count=0
while count<5:
   count+=1
   print ("Iteration no. {}".format(count))
else:
   print ("While loop over. Now in else block")
print ("End of while loop")

Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
While loop over. Now in else block
End of while loop

In [27]:
flag = 0
while (flag): print ("Given flag is true!")
print ("End of execution")

End of execution

In [28]:
for letter in 'Python':    
   if letter == 'h':
      break
   print ("Current Letter :", letter)
print ("End of execution")

Current Letter : P
Current Letter : y
Current Letter : t
End of execution

In [29]:
# break statement and while loop
var = 10                   
while var > 0:              
   print ('Current variable value :', var)
   var = var -1
   if var == 5:
      break
print ("End of execution")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
End of execution

In [30]:
no = 33
numbers = [11,33,55,39,55,75,37,21,23,41,13]
for num in numbers:
   if num == no:
      print ('number found in list')
      break
else:
   print ('number not found in list')

number found in list

In [ ]:
# Strings

In [31]:
var1 = 'Hello World!'
var2 = "Python Programming"

print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

In [32]:
var1 = 'Hello World!'
print ("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

In [34]:
print ("My name is %s and weight is %d kg!" % ('Aarzoo', 47))

My name is Aarzoo and weight is 47 kg!

In [36]:
var = 'Learning Python'
print ("var:", var)

var = "Learning Python's Strings"
print ("var:", var)

var = '''Learning Python-2'''
print ("var:", var)

var = """Learning Python-3"""
print ("var:", var)

var: Learning Python
var: Learning Python's Strings
var: Learning Python-2
var: Learning Python-3

In [37]:
var = '''
Hello Python
'''
print ("var:", var)

var:
Hello Python

In [38]:
var = "Hello Python"
print (type(var))

<class 'str'>

In [39]:
var = "HELLO PYTHON"
print(var[0]) 
print(var[7])  
print(var[11])  
print(var[12])

H
Y
N

IndexError: string index out of range

In [40]:
var = "HELLO PYTHON"
print(var[-1]) 
print(var[-5])  
print(var[-12])

N
Y
H

In [41]:
# Strings are immutable
var="HELLO PYTHON"
var[7]="y"
print (var)

TypeError: 'str' object does not support item assignment

In [42]:
var="HELLO PYTHON"

print ("var:",var)
print ("var[3:8]:", var[3:8])

var: HELLO PYTHON
var[3:8]: LO PY

In [43]:
var="HELLO PYTHON"
print ("var:",var)
print ("var[3:8]:", var[3:8])
print ("var[-9:-4]:", var[-9:-4])

var: HELLO PYTHON
var[3:8]: LO PY
var[-9:-4]: LO PY

In [46]:
var="HELLO PYTHON"
print ("var:",var)
print ("var[0:5]:", var[0:5])
print ("var[:5]:", var[:5])
print ("var:",var)
print ("var[6:12]:", var[6:12])
print ("var[6:]:", var[6:])
print ("var:",var)
print ("var[-1:7]:", var[-1:7])
print ("var[7:0]:", var[7:0])

var: HELLO PYTHON
var[0:5]: HELLO
var[:5]: HELLO
var: HELLO PYTHON
var[6:12]: PYTHON
var[6:]: PYTHON
var: HELLO PYTHON
var[-1:7]:
var[7:0]:

In [47]:
var="HELLO PYTHON"

print ("var:",var)
print ("var[:6][:2]:", var[:6][:2])

var1=var[:6]
print ("slice:", var1)
print ("var1[:2]:", var1[:2])

var: HELLO PYTHON
var[:6][:2]: HE
slice: HELLO
var1[:2]: HE

In [48]:
s1="WORD"
print ("original string:", s1)
l1=list(s1)
l1.insert(3,"L")
print (l1)
s1=''.join(l1)
print ("Modified string:", s1)

original string: WORD
['W', 'O', 'R', 'L', 'D']
Modified string: WORLD

In [49]:
import array as ar
s1="WORD"
print ("original string:", s1)
sar=ar.array('u', s1)
sar.insert(3,"L")
s1=sar.tounicode()
print ("Modified string:", s1)

original string: WORD
Modified string: WORLD

In [50]:
import io

s1="WORD"
print ("original string:", s1)

sio=io.StringIO(s1)
sio.seek(3)
sio.write("LD")
s1=sio.getvalue()

print ("Modified string:", s1)

original string: WORD
Modified string: WORLD

In [52]:
str1="Hello"
str2="World"
print ("String 1:",str1)
print ("String 2:",str2)
str3=str1+str2
print("After concatenating:- ",str3)

String 1: Hello
String 2: World
After concatenating:-  HelloWorld

In [53]:
str1="Hello"
str2="World"
blank=" "
print ("String 1:",str1)
print ("String 2:",str2)
str3=str1+blank+str2
print("After concatenating :- ",str3)

String 1: Hello
String 2: World
After concatenating :-  Hello World

In [54]:
# Concatenating using multiplication
newString = "Hello" * 3
print(newString)

HelloHelloHello

In [55]:
# Concatenating using '+' and '*'
str1="Hello"
str2="World"
print ("String 1:",str1)
print ("String 2:",str2)
str3=str1+str2*3
print("String 3:",str3)
str4=(str1+str2)*3
print ("String 4:", str4)

String 1: Hello
String 2: World
String 3: HelloWorldWorldWorld
String 4: HelloWorldHelloWorldHelloWorld

In [56]:
name = "Hello Python"
print("Welcome to %s!" % name)

Welcome to Hello Python!

In [57]:
str = "Welcome to {}"
print(str.format("Python Learning"))

Welcome to Python Learning

In [58]:
item1_price = 2500
item2_price = 300
total = f'Total: {item1_price + item2_price}'
print(total)

Total: 2800